# Python

**pycache**/
*.pyc

# Virtual environments

.venv/
venv/

# Secrets

.env

# Generated reports

reports/
reports/**/*.json

# Large datasets

enterprise-attack.json

# Jupyter

.ipynb_checkpoints/

# Archive / learning files

archive/

# Frontend

node_modules/
dist/

# VS Code

.vscode/

# Logs

*.log
